
/* make the sidebar big enough to contain inspector */
.sidebar, .sidebar .sidebar-content { width: 20rem; }

.transition-background-color { transition: background-color 0.5s ease; }

.animate-color-change {
  color: #757575;
  animation: color-change-animation 1.5s steps(5, start) 3;
  -webkit-animation: color-change-animation 1.5s steps(5, start) 3;
}
@keyframes color-change-animation {
  0% {color: #d62631}
  50% {color: #757575;}
  100% {color: #d62631;}
}
@-webkit-keyframes color-change-animation {
  0% {color: #d62631}
  50% {color: #757575;}
  100% {color: #d62631;}
}


/* includes buttons and input */
.table-filters { width: 100%; }

/* logs div */
.logs-container { cursor: default; }
.logs-content { border-top: 1px solid #aaa; }

/* logs tables */
.table-logs-header { width: 100%; border-collapse: collapse; }
.table-logs-header td { padding: 0.3rem 0.2rem; }
.table-logs-content { width: 100%; border-collapse: collapse; }
.table-logs-content td { }
.table-logs-header td, .table-logs-content td { font-size: 0.7rem; }

td, th {max-width: 0; /* allow ellipsis on tables */vertical-align: top;}

.cell {
  line-height: 1rem;
  font-size: 1rem;
  padding: 0rem 0.2rem;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px; /* must be sync with rowHeight constant in view */
}
.cell-bordered {
  border-left: 1px solid rgb(170, 170, 170);
}

.cell-xs { width: 2rem; }
.cell-s { width: 4rem; }
.cell-m { width: 7rem; }
.cell-l { width: 16rem; }

/* last column fills space */
.cell-xs:last-child, .cell-s:last-child, .cell-m:last-child, .cell-l:last-child { width: initial; }

.row-hover:hover { background-color: rgba(0,0,0,.075); }
.row-selected, .row-selected:hover { background-color: #007bff; color: white; }


.table-max { width: 100%; }

.pull-right { float: right; }

footer { border-top: 1px solid var(--color-gray); }

.datetime-helper { position: absolute; left: calc(100% + 4px); color: black; top: -6px; width: 320px; background-color: #f3f3f3; border: 1px solid rgb(154, 154, 154); border-radius: 5px; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4); z-index: 1000; }
.datetime-helper-result { padding: 10px; font-weight: bold; background: #007bff; color: white; border-radius: 4px 4px 0 0; margin: -1px; }
.datetime-helper-memo { padding: 10px; }

.arrow-up-left:before { content: ''; display: block; position: absolute; right: 100%; top: 6px; width: 0; height: 0; border-right-color: #9a9a9a; border-radius: 10px; }
.arrow-up-left:after { content: ''; display: block; position: absolute; right: 100%; top: 7px; width: 0; height: 0; border: 9px solid transparent; border-right-color: #007bff; }


/* specific colors to InfoLogger */
.severity-d { color: grey; font-weight: 600; }
.severity-i { color: #17a2b8; font-weight: 600; }
.severity-w { color: #ffc107; font-weight: 600; }
.severity-e { color: #dc3545; font-weight: 600; }
.severity-f { color: #9c27b0; font-weight: 600; }
.severity-d-bg { background-color: grey; color: white; font-weight: 600; }
.severity-i-bg { background-color: #17a2b8; color: white; font-weight: 600; }
.severity-w-bg { background-color: #ffc107; color: white; font-weight: 600; }
.severity-e-bg { background-color: #dc3545; color: white; font-weight: 600; }
.severity-f-bg { background-color: #9c27b0; color: white; font-weight: 600; }
