/*
 * App specific CSS styles
 */

.pageLoading {
  font-size: 10em;
  color: var(--color-dark);
  margin: var(--space-l);
  line-height: 1;
}

.pageError {
  font-size: 10em;
  color: var(--color-dark);
  margin: var(--space-l);
  line-height: 1;
}