.idea
webapp/node_modules
webapp/.react-router
webapp/build
backend/wrapper/dist/
backend/wrapper/node_modules/
backend/wrapper/src/run_tests/
backend/node_modules
backend/central-system/dist
backend/central-system/node_modules
backend/certs
backend/central-system/ca
backend/central-system/vault/vault*
backend/central-system/crt
backend/central-system/policies
central-system.hcl
backend/central-system/.env
database/*
banner.js
.env
*.crt
*.key
*.pem
backend/central-system/certificates/
backend/central-system/certificates/*
docker/vault/generated-clients/