.animate-width { transition: width 0.3s; }
.animate-height { transition: height 0.3s; }
.animate-dimensions { transition: height 0.3s, width 0.3s; }
.animate-dimensions-position { transition: height 0.3s, width 0.3s, top 0.3s, left 0.3s; }
.animate-slow-appearance { animation-name: slow-appearance; animation-duration: 1s; }
@keyframes slow-appearance {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.object-selectable { cursor: pointer; text-decoration: none; }
.object-selectable:hover { cursor: pointer; background-color: var(--color-gray-dark) !important; color: var(--color-gray-lighter); }

.layout-selectable { border: 0.0em solid var(--color-primary); transition: border 0.1s; }
.layout-online { border: 0.15em solid var(--color-success); transition: border 0s; }
.layout-selected { border: 0.3em solid var(--color-primary); }
.layout-edit-layer { cursor: move; opacity: 0; }

.object-online { border: 0.15em solid var(--color-success); transition: border 0s; }

.status-bar { border-top: 1px solid var(--color-gray-dark); }

/* Force jsroot's background to be transparent */
.canvas_fillrect { fill: transparent !important; }

/* Show plots gradually */
.jsroot { animation-name: appearance; animation-duration: 0.2s; }

/* overwrite jsroot styles */
.jsroot-container {}
.jsroot-container pre { background-color: initial; }
.jsrootdiv:hover + .resize-element, .resize-element:hover{ display: flex !important; }

.resize-button { position: absolute; right: 0%; z-index: 100 }

.tooltip {position: relative; display: inline-block; border-bottom: 1px dotted black;}
.tooltip .tooltiptext {visibility: hidden; width: 118px; background-color: #555; color: #fff; text-align: center; padding: 3px; border-radius: 6px; position: absolute; z-index: 1;}
.tooltiptext::after {content: ""; position: absolute; bottom: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: transparent transparent #555 transparent;}
.tooltip:hover .tooltiptext {visibility: visible;}