name: InfoLogger
on:
  pull_request:
    paths:
      - 'InfoLogger/*'
      - 'InfoLogger/*/*'
      - 'InfoLogger/*/*/*'
      - '.github/workflows/infologger.yml'
  push:
    branches:
      - 'master'
      - 'dev'
jobs:
  test:
    name: Tests on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: (cd InfoLogger; npm ci )
      - run: (cd InfoLogger; npm test )
  coverage:
    name: Tests & coverage on ubuntu-18.04
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: (cd InfoLogger; npm ci )
      - run: (cd InfoLogger; npm run coverage )
      - run: (cd InfoLogger; ./node_modules/.bin/nyc report --reporter=text-lcov > coverage.lcov)
      - run: (cd InfoLogger; bash <(curl -s https://codecov.io/bash) -F infologger)
