name: QualityControl
on:
  pull_request:
    paths:
      - 'QualityControl/**/*'
      - '.github/workflows/qc.yml'
  push:
    branches:
      - 'master'
      - 'dev'

jobs:
  test:
    name: Tests on ubuntu-18.04
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - run: (cd QualityControl; npm ci )
      - run: (cd QualityControl; npm test )
  coverage:
    name: Tests & coverage on macOS-latest
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - run: (cd QualityControl; npm ci )
      - run: (cd QualityControl; npm run coverage )
      - run: (cd QualityControl; ./node_modules/.bin/nyc report --reporter=text-lcov > coverage.lcov)
      - name: Send codecov report for QualityControl
        uses: codecov/codecov-action@v1.0.13
        with:
          token: ${{ secrets. NEW_CODECOV_TOKEN }}
          flags: qualitycontrol
          fail_ci_if_error: true
